Package           Version
----------------- -------
asgiref           3.8.1
Django            4.2.20
mysqlclient       2.2.7
pip               22.0.4
setuptools        58.1.0
sqlparse          0.5.3
typing_extensions 4.12.2
tzdata            2025.1
